
<div class="row affix" id="new_word_row" style="margin-top:-20px;margin-left:0px"> 

  <a href="#myModal" role="button" class="btn btn-primary"  data-toggle="modal">Create New Word</a>

</div>

<div id="words-container"></div>


<%= content_tag "div", "Loadin...", id: "container", data: {entries: Liff.all} do %>
    <%= render "words", :hbs => {words: Liff.all}, :partials => {:word_navigation => (render "word_navigation")} %> 
<% end %>
