<div class="row">
    <div class="span8">
        <p class="info-tip">
            <button id="new_word_btn">Save</button>
        </p>
    </div>
</div>

{{#each pagecontent}}
<h2>{{ word }}</h2>
</br>
    {{{definition}}}
{{/each}}