<div class="row">

	<!-- Start scroll spy -->

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix" id="words_navigation_container" style="overflow-y:scroll; height:400px;margin-top:60px" >
			<li class="">
				<a href="#first"> <i class="icon-chevron-right"></i>
					Overview
				</a>
			</li>
			<li>
				<a href="#second"> <i class="icon-chevron-right"></i>
					Transitions
				</a>
			</li>
			<li class="">
				<a href="#modals">
					<i class="icon-chevron-right"></i>
					Modal
				</a>
			</li>
			<li class="">
				<a href="#dropdowns">
					<i class="icon-chevron-right"></i>
					Dropdown
				</a>
			</li>
			<li>
				<a href="#scrollspy">
					<i class="icon-chevron-right"></i>
					Scrollspy
				</a>
			</li>
			<li>
				<a href="#tabs">
					<i class="icon-chevron-right"></i>
					Tab
				</a>
			</li>
			<li>
				<a href="#tooltips">
					<i class="icon-chevron-right"></i>
					Tooltip
				</a>
			</li>
			<li class="">
				<a href="#popovers">
					<i class="icon-chevron-right"></i>
					Popover
				</a>
			</li>
			<li class="">
				<a href="#alerts">
					<i class="icon-chevron-right"></i>
					Alert
				</a>
			</li>
			<li class="">
				<a href="#buttons">
					<i class="icon-chevron-right"></i>
					Button
				</a>
			</li>
			<li class="">
				<a href="#collapse">
					<i class="icon-chevron-right"></i>
					Collapse
				</a>
			</li>
			<li class="">
				<a href="#carousel">
					<i class="icon-chevron-right"></i>
					Carousel
				</a>
			</li>
			<li class="">
				<a href="#typeahead">
					<i class="icon-chevron-right"></i>
					Typeahead
				</a>
			</li>
			<li class="">
				<a href="#affix">
					<i class="icon-chevron-right"></i>
					Affix
				</a>
			</li>
		</ul>

	</div>
	<!-- End scroll spy -->

	<!-- Start scroll content -->

	<div class="span5">

		<section id="first">Blaa  this is the first</section>

		<section id="second">Blaa  this is the second</section>

		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Modal Heading</h3>
			</div>

			<div class="modal-body">

				<form class="form-horizontal" id="new_word">

					<fieldset>

						<legend>Newly invented word</legend>

						<div class="control-group">
							<label class="control-label">Word</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="new_word_name" name="name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name"></div>
						</div>

						<div class="control-group">
							<label class="control-label">Definition</label>
							<div class="controls">
								<textarea class="text span6"  cols="5" rows="2" id="new_word_definition" name="definition" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name"></textarea>
							</div>
						</div>

						<div class="controls">

							<div class="form-actions">
								<input class="btn btn-primary" name="commit" type="submit" value="Create Word">
								<input class="btn btn-danger" name="cancel" data-dismiss="modal" type="reset" value="Cancel"></div>

						</div>

					</fieldset>
				</form>

				<h4>Text in a modal</h4>
				<p>
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
				</p>

				<h4>Popover in a modal</h4>
				<p>
					This
					<a href="#" role="button" class="btn popover-test" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a>
					should trigger a popover on hover.
				</p>

				<h4>Tooltips in a modal</h4>
				<p>
					<a href="#" class="tooltip-test" data-original-title="Tooltip">This link</a>
					and
					<a href="#" class="tooltip-test" data-original-title="Tooltip">that link</a>
					should have tooltips on hover.
				</p>

			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
				<button class="btn btn-primary">Save changes</button>
			</div>
		</div>

		<div id="words_container">
			<ul id="words"></ul>
		</div>

	</div>
	<!-- End scroll content -->

</div>