<section id="{{ word.word }}">
  <div class="thumbnail"  style="padding-bottom:25px" >
	  <h3>{{ word.word }}</h3>
	  {{{ word.definition }}}
	  </br>
	  <button class="btn btn-mini pull-right" type="button" >Edit</button>
  </div>
</section>
