<div class="row">

	<!-- Start scroll spy -->

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix" id="words_navigation_container" style="overflow-y:auto; max-height:800px;margin-top:60px" >
		</ul>

	</div>
	<!-- End scroll spy -->

	<!-- Start scroll content -->

	<div class="span5">

		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create a new word</h3>
			</div>

			<div class="modal-body">
				<form class="form-horizontal" id="new_word">
				

						<div class="control-group">
							<label class="control-label">Word</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="new_word_name" name="name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name"></div>
						</div>

						<div class="control-group">
							<label class="control-label">Definition</label>
							<div class="controls">
								<textarea class="text span6"
							      style="width:250px"
								  rows="10" id="new_word_definition" name="definition" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name"></textarea>
							</div>
						</div>

				

					<div class="modal-footer">
						<input class="btn btn-primary" name="commit" type="submit" value="Create Word">
						<input class="btn btn-danger" name="cancel" data-dismiss="modal" type="reset" value="Cancel">

					</div>


				</form>

			</div>


		</div>

		<div id="words_container">
			<ul id="words"></ul>
		</div>

	</div>
	<!-- End scroll content -->

</div>